main {

  .cover_img {
    width: 300px;
    height: 446px;
    border: 4px solid #000;
  }

  .cover_content {
    width: 320px;
    .cover_title {
      width: 100%;
      background-color: #000;

      & > h2 {
        color: #fff;
        font-size: 36px;
        font-weight: 900;
        line-height: 52px;
      }
    }

    p {
      line-height: 24px;
    }
  }


  .cover-chapters {
    font-weight: 900;

    .nav > .nav-item > a {
      font-size: 24px;
      background-color: #000;
      border-radius: 0;
    }

    .tab-content {
      border: 4px solid #000;

      li {
        line-height: 24px;
        
        .badge {
          border-radius: 0;
          padding: 2px 12px;
          font-size: 14px;
          background-color: #50FF44 !important;
        }
      }
    }

  }

}